<div class="start">
    <button class="btn" (click)='this.gameStatus = "started"'>Start New Game</button>
</div>
<div id="active-game" [ngStyle]="{'display': this.gameStatus ? 'block' : 'none'}">
    <article id="game-over" [ngStyle]="{'display': this.gameStatus === 'over' ? 'block' : 'none'}">
        <h2>You Won, <span id="winner-name">{{winner}}</span>!</h2>
        <p>Click "Start New Game" above, to start a new game!</p>
    </article>
    <article id="game-over" [ngStyle]="{'display': this.gameStatus === 'draw' ? 'block' : 'none'}">
        <h2>It's a <span id="winner-name">draw</span>!</h2>
        <p>Click "Start New Game" above, to start a new game!</p>
    </article>

    <p [ngStyle]="{'display': this.gameStatus !== 'draw' && this.gameStatus !== 'over' ? 'block' : 'none'}">It's your turn <span id="active-player-name">{{getPlayer()}}</span>!</p>
    <ol id="game-board" (click)="checkResult()">
        <app-list  *ngFor="let char of this.gameItems" [index]="char"></app-list>
    </ol>
</div>
