<div class="game-configuration">
    <ol>
        <li>
            <article>
                <h2>Player 1</h2>
                <h3>Player Name</h3>
                <p>X</p>
                <button class="btn btn-alt" (click)="show()">Edit</button>
            </article>
        </li>
        <li>
            <article>
                <h2>Player 2</h2>
                <h3>Player Name</h3>
                <p>O</p>
                <button class="btn btn-alt" (click)="show()">Edit</button>
            </article>
        </li>
    </ol>
    <button class="btn">Start New Game</button>
</div>
